[submodule "vectornav_ros"]
	path = vectornav_ros
	url = http://github.com/vanttec/vectornav_ros.git
[submodule "usv_avoidance/include/acados"]
	path = usv_avoidance/include/acados
	url = https://github.com/acados/acados.git
[submodule "zed-ros-wrapper"]
	path = zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "velodyne"]
	path = velodyne
	url = https://github.com/ros-drivers/velodyne.git
