.DS_Store
log/
build/
install/
*/.vscode/
.vscode/
src/usv_control/config/code_gen/*
src/usv_control/scripts/deprecated/fatrop_sep2025/*.so
src/usv_control/scripts/deprecated/fatrop_sep2025/*.c
src/usv_control/scripts/deprecated/fatrop_sep2025/*.h
src/usv_control/scripts/deprecated/fatrop_sep2025/__pycache__
src/usv_control/scripts/acados/*.json
src/usv_control/scripts/acados/__pycache__
src/usv_control/scripts/acados/c_generated_code_*
*.engine
*.onnx
*.deb
*.whl
