[submodule "arduino_br"]
	path = arduino_br
	url = http://github.com/vanttec/arduino_br.git
[submodule "velodyne_ros"]
	path = velodyne_ros
	url = http://github.com/vanttec/velodyne_ros.git
[submodule "zed_ros_wrapper"]
	path = zed_ros_wrapper
	url = https://github.com/vanttec/zed_ros_wrapper
[submodule "teleop_twist_keyboard"]
	path = teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard.git
[submodule "sbg_ros_driver"]
	path = sbg_ros_driver
	url = https://github.com/vanttec/sbg_ros_driver
[submodule "vectornav_ros"]
	path = vectornav_ros
	url = https://github.com/vanttec/vectornav_ros
