<?xml version="1.0" ?>
<model>
    <name>return2home_challenge</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ricardo Guerrero</name>
        <email>jesusrg2405@gmail.com</email>
    </author>
    <description>Return to home challenge for Roboboat 2025</description>
</model>

