<launch>
    <!--Visualization-->
    <node name="boat_tf2_broadcaster" type="boat_tf2_broadcaster" pkg="usv_control" />
    <arg name="model" default="$(find usv_control)/urdf/boat.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
      <!-- Launch rviz -->
    <!--node name="rviz" pkg="rviz" type="rviz" 
        args = "-d $(find usv_control)/rviz/simulation_avoidance.rviz" respawn="false"/--> 
    <!--Obstacles-->
    <node name="lidar_obstacle_simulator" type="lidar_obstacle_simulator.py" pkg="usv_control" />
    <!--USV Model-->
    <node name="dynamic_model_simulate" type="dynamic_model_simulate" pkg="usv_control" />
    <!--Controler-->
    <node name="asmc" pkg="usv_control" type="asmc" >
    <param name = "k_u" value = "0.1" />
    <param name = "k_psi" value = "0.2" />
    <param name = "kmin_u" value = "0.05" />
    <param name = "kmin_psi" value = "0.2" />
    <param name = "k2_u" value = "0.02" />
    <param name = "k2_psi" value = "0.1" />
    <param name = "mu_u" value = "0.05" />
    <param name = "mu_psi" value = "0.1" />
    <param name = "lambda_u" value = "0.001" />
    <param name = "lambda_psi" value = "1" />
    </node>
</launch>