<launch>

  <!-- MPC Guidance Experiment 1: straight line experiment with avoidance of multiple obstacle -->

  <include file="$(find sensors)/launch/usv_simulation.launch" />

  <node pkg="usv_research" type="straight_path_waypoints.py" name="straight_path_waypoints" />

  <include file="$(find usv_control)/launch/asmc.launch" />

  <node pkg="usv_avoidance" type="nmpc_guidance_ca1" name="nmpc_guidance_ca1" />

  <!--Launch rosbag to record topics -->
  <!--node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find usv_research)/bags/mpc_guidance_exp1/sim" /-->

</launch>