<launch>

	<arg name="rosbag_name" value="$(find preprocessing)/bags/lidar_gazebo.bag" />

	<node pkg="rosbag" type="play" name="player" output="screen" args="$(arg rosbag_name)"/>

	<node name="object_detection_lidar" pkg="preprocessing" output="screen" type="obj_detector_node">
		<param name="input_cloud" value="/velodyne_points"/>
		<param name="output_cloud" value="/output_cloud"/>
		<param name="obj_detected_list" value="/obj_detected_list"/>
		<param name="view_pointcloud" type="bool" value="true"/>
	</node>

</launch>