<launch>

  <!-- MPC Guidance Experiment 1: straight line experiment with avoidance of multiple obstacles -->

  <node pkg="vectornav-ros" type="ins_2d" name="ins_2d" /> 

  <include file="$(find arduino-br)/launch/arduino_br.launch" /> 

  <node pkg="usv_research" type="uturn_path_waypoints.py" name="uturn_path_waypoints" />

  <include file="$(find usv_control)/launch/asmc.launch" />

  <node pkg="usv_avoidance" type="nmpc_guidance_ca1" name="nmpc_guidance_ca1" />

  <!--Launch rosbag to record topics -->
  <node type="record" pkg="rosbag" name="recorder" args="record -a -o $(find usv_research)/bags/mpc_guidance_exp3/" />

</launch>