<launch>

  <!-- MPC Guidance Experiment 3: u-turn experiment with avoidance of multiple obstacles -->

  <include file="$(find vectornav)/launch/vectornav.launch" />

  <include file="$(find arduino-br)/launch/arduino_br.launch" /> 

  <node pkg="usv_research" type="uturn_path_waypoints.py" name="uturn_path_waypoints" />

  <include file="$(find usv_control)/launch/asmc.launch" />

  <node pkg="usv_avoidance" type="nmpc_guidance_ca1" name="nmpc_guidance_ca1" />

  <!--Launch rosbag to record topics -->
  <node type="record" pkg="rosbag" name="recorder" args="record -a /guidance/desired_heading /usv_control/asmc/heading_gain /usv_control/asmc/heading_sigma /usv_control/controller/heading_error /usv_control/asmc/speed_gain /usv_control/asmc/speed_sigma /usv_control/asmc/speed_error /usv_control/controller/control_input /vectornav/ins_2d/NED_pose /usv_control/controller/right_thruster /usv_control/controller/left_thruster /vectornav/ins_2d/local_vel /guidance/desired_speed /guidance/target  /nmpc_ca/obstacle_list /mission/waypoints $(find usv_research)/bags/mpc_guidance_exp3/vn" />

</launch>