<?xml version="1.0" ?>
<model>
    <name>follow_the_path_challenge</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Max Pacheco</name>
        <email>maxprpxam@icloud.com</email>
    </author>
    <description>RoboBoat 2024's Follow the Path Challenge</description>
</model>
