<launch>

  <!-- Auto Nav -->

  <include file="$(find usv_control)/launch/usv_simulation.launch" />

  <node pkg="rb_missions" type="obstacle_channel.py" name="obstacle_channel" />

  <include file="$(find usv_control)/launch/asmc.launch" />

  <node pkg="usv_avoidance" type="nmpc_guidance_ca1" name="nmpc_guidance_ca1" />

  <node name="obstacle_simulator" pkg="rb_missions" type="obstacle_simulator.py" >
	<param name = "challenge_number" value = "2" />
  </node>


</launch>
