<launch>

  <!-- Auto Nav -->

  <include file="$(find usv_control)/launch/usv_simulation.launch" />

  <node pkg="rb_missions" type="speed_challenge.py" name="speed_challenge" />

  <include file="$(find usv_control)/launch/usv_control.launch" />

  <node name="obstacle_simulator" pkg="rb_missions" type="obstacle_simulator.py" >
	<param name = "challenge_number" value = "1" />
  </node>


</launch>
