<launch>

  <!-- Auto Nav -->

  <include file="$(find usv_control)/launch/usv_simulation.launch" />

  <node pkg="rb_missions" type="auto_nav_position.py" name="auto_nav_position" />

  <include file="$(find usv_control)/launch/usv_control.launch" />

  <node name="obstacle_simulator" pkg="rb_missions" type="obstacle_simulator.py" >
	<param name = "challenge_number" value = "0" />
  </node>


</launch>
