<?xml version="1.0" ?>
<model>
    <name>docking_challenge</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ricardo Guerrero</name>
        <email>jesusrg2405@gmail.com</email>
    </author>
    <description>RoboBoat 2024's Docking</description>
</model>
