<?xml version="1.0"?>
<model>
  <name>vtec_s5</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mauricio Caballero</name>
    <email>mauricio@mcaballero.com</email>
  </author>

  <!-- Based on Previous vtec-s4 -->

  <description>
    VTec-SV
  </description>
</model>
