<?xml version="1.0"?>
<model>
  <name>vtec_s3</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Max Pacheco</name>
    <email>maxprpxam@icloud.com</email>
  </author>

  <!-- Based on VRX's "my_roboboat"-->

  <description>
    VTec-SIII
  </description>
</model>
